{% extends 'base.html' %}
{% load static %}



{% block title %}Amazon{% endblock %}


{% block content %}
<h1>Amazon - Historical Data</h1>


  <h1>1-Year Chart</h1>
  
  <div class="d-flex justify-content-end gap-2">
  <a href="{% url 'home' %}" class="btn btn-success border-black">Go home</a>
  <a href="{% url 'historical_data' %}" class="btn btn-success border-black">Go back</a>
  </div>
</br>
  <img src="{% static 'images/amzn/amzn - 1 - yr.jpg' %}" alt="">


</br>
</br>
</br>
</br>
</br>
</br>


<a id="amzn"></a>
<h1>Amazon - Historical Data</h1>
  <h1>5-Year Chart</h1>

  <div class="d-flex justify-content-end gap-2">
  <a href="{% url 'home' %}" class="btn btn-success border-black">Go home</a>
  <a href="{% url 'historical_data' %}" class="btn btn-success border-black">Go back</a>
  </div>
</br>

  <img src="{% static 'images/amzn/amzn - 5 yr.jpg' %}" alt="">
</br>
</br>
</br>




{% endblock %}



