{% extends 'base.html' %}
{% load static %}



{% block title %}General Electric{% endblock %}


{% block content %}
<h1>General Electric - Historical Data</h1>




  <h1>1-Year Chart</h1>
  <a href="{% url 'home' %}" class="btn btn-success">Go home</a>
  <a href="{% url 'historical_data' %}" class="btn btn-success">Go back</a>
</br>
</br>
  <img src="{% static 'images/ge/ge - 1 yr.jpg' %}" alt="">


  <!-- <a href= "#VT" class="btn btn-success">View Transactions</a>
  <h2 id="VT">TRANSACTIONS</h2> -->
</br>
</br>
</br>
</br>
</br>
</br>
<a id="GE"></a>
<h1>General Electric - Historical Data</h1>
  <h1>5-Year Chart</h1>
  <a href="{% url 'home' %}" class="btn btn-success">Go home</a>
  <a href="{% url 'historical_data' %}" class="btn btn-success">Go back</a>
</br>
</br>
  <img src="{% static 'images/ge/ge - 5 yr.jpg' %}" alt="">
</br>
</br>
</br>




{% endblock %}

<script>
    
</script>


