{% extends 'base.html' %}
{% load static %}



{% block title %}Historical Data{% endblock %}



{% block content %}
<h1>Historical Data</h1>
<hr>

</br>
</br>
<div class="container">

  <div class="row">
    <div class="col-sm-6 mb-3 mb-sm-5">  
      <div class="card border-black" style="width: 35rem;">
        <div class="card-body">
          <h5 class="card-title">GE - Chart Data</h5>
          <p class="card-text">Click on button to view chart.</p>
          <a href= "{% url 'general' %}" class="btn btn-danger border-black">1-yr chart</a>
          <a href= "{% url 'general' %}#GE" class="btn btn-danger border-black">5-yr chart</a>  
        </div>
      </div>
    </div>
  
    <div class="col-sm-6">
      <div class="card border-black" style="width: 35rem;">
          <div class="card-body">
            <h5 class="card-title">Amazon - Chart Data</h5>
            <p class="card-text">Click on button to view chart.</p>
            <a href= "{% url 'amazon' %}" class="btn btn-danger border-black">1-yr chart</a>
            <a href= "{% url 'amazon' %}#amzn" class="btn btn-danger border-black">5-yr chart</a>   
          </div>
      </div>
    </div>
  
    <div class="col-sm-6">
      <div class="card border-black" style="width: 35rem;">
          <div class="card-body">
            <h5 class="card-title">Microsoft - Chart Data</h5>
            <p class="card-text">Click on button to view chart.</p>
            <a href= "{% url 'microsoft' %}" class="btn btn-danger border-black">1-yr chart</a>
            <a href= "{% url 'microsoft' %}#msft" class="btn btn-danger border-black">5-yr chart</a>  
          </div>
      </div>
    </div>
  
    <div class="col-sm-6">
      <div class="card border-black" style="width: 35rem;">
          <div class="card-body">
            <h5 class="card-title">Google - Chart Data</h5>
            <p class="card-text">Click on button to view chart.</p>
            <a href= "{% url 'google' %}" class="btn btn-danger border-black">1-yr chart</a>
            <a href= "{% url 'google' %}#goog" class="btn btn-danger border-black">5-yr chart</a>  
          </div>
      </div>
    </div>
  </div>
  
  </div>
  
  
 <br>


<a href="{% url 'home' %}" class="btn btn-success border-black">Go home</a>
<br>
<br>



{% endblock %}

