{% extends 'base.html' %}
{% load static %}



{% block title %}Historical Data{% endblock %}

{% block content %}

<div class="d-flex justify-content-between align-items-center">
  <h1 class="mb-0">Historical Data</h1>
  <a href="{% url 'home' %}" class="btn btn-success border-black">Go home</a>
</div>


<hr style="height: 5px; background-color: black; border: none;">

<h5>Historical stock performance data.</h5>

</br>

<div class="container">
  <div class="row">
    <div class="row text-center">
      <div class="col-6 mb-3 mb-sm-3">
        <div class="card border-black" style="width: 35rem;">
          <div class="card-body">
            <h5 class="card-title">GE - Chart Data</h5>
            <p class="card-text">Click on button to view chart.</p>
            <a href="{% url 'general' %}" class="btn btn-danger border-black">5-yr chart</a>
          </div>
        </div>
      </div>

      <div class="col-6 mb-sm-8">
        <div class="card border-black" style="width: 35rem;">
          <div class="card-body">
            <h5 class="card-title">Amazon - Chart Data</h5>
            <p class="card-text">Click on button to view chart.</p>
            <a href="{% url 'amazon' %}" class="btn btn-danger border-black">5-yr chart</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="row text-center">
      <div class="col-6 mb-3 mb-sm-3">
        <div class="card border-black" style="width: 35rem;">
          <div class="card-body">
            <h5 class="card-title">Microsoft - Chart Data</h5>
            <p class="card-text">Click on button to view chart.</p>
            <a href="{% url 'microsoft' %}" class="btn btn-danger border-black">5-yr chart</a>
          </div>
        </div>
      </div>


      <div class="col-6 mb-sm-8">
        <div class="card border-black" style="width: 35rem;">
          <div class="card-body">
            <h5 class="card-title">Google - Chart Data</h5>
            <p class="card-text">Click on button to view chart.</p>
            <a href="{% url 'google' %}" class="btn btn-danger border-black">5-yr chart</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

</br>
</br>
</br>
</br>
</br>
{% endblock %}

