{% extends 'base.html' %}
{% load static %}


{% block content %}
<h1 class="home-title text-center">Welcome to Stock Picker</h1>
<h5 class="home-title-2 text-center">Your Place to Buy and Sell Stocks</h5>


<container>
    <div class="container d-flex justify-content-center align-items-center">
      <div class="row text-center">
        <div class="col-6 mb-3 mb-sm-3">     
          <div class="card border-black" style="width: 35rem;">
            <div class="card-body">
              <h5 class="card-title">Stock Data - Pricing</h5>
              <p class="card-text">View stock data in your portfolio.</p>
              <a href= "{% url 'stock_data' %}" class="btn btn-success border-black">Go To Stock Data</a>
          </div>
        </div>
      </div>   
    </div>
  </div>



<container>
  <div class="container d-flex justify-content-center align-items-center">
    <div class="row text-center">    
      <div class="col-6 mb-3 mb-sm-3">     
        <div class="card border-black" style="width: 35rem;">
          <div class="card-body">
            <h5 class="card-title">Historical Data - Charts</h5>
            <p class="card-text">View historical data for a particular stock in your portfolio.</p>
            <a href= "{% url 'historical_data' %}" class="btn btn-success border-black">Go To Historical Data</a>
          </div>
        </div>
      </div>
    </div>
  </div>



<container>
  <div class="container d-flex justify-content-center align-items-center">
    <div class="row text-center">
      <div class="col-6 mb-3 mb-sm-5">  
        <div class="card border-black" style="width: 35rem;">
          <div class="card-body">
            <h5 class="card-title">Select An Action</h5>
            <p class="card-text">Click on a button to buy or sell a stock.</p>
            <a href= "{% url 'add_portfolio' %}" class="btn btn-danger border-black">Buy</a>
            <a href= "{% url 'delete_portfolio' %}" class="btn btn-danger border-black">Sell</a>
          </div>
        </div>           
      </div>
    </div>
  </div>


{% endblock %}









