<!-- sell transaction list -->

{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}Registration Form{% endblock %}

{% block content %}

<div class="d-flex justify-content-between align-items-center">
  <h1 class="mb-0">Stock - Sell</h1>
  <a href="{% url 'home' %}" class="btn btn-success border-black">Home</a>
</div>

<hr style="height: 5px; background-color: black; border: none;">

<br>
<br>


<div class="container">
  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-12 mb-3 mb-sm-5" style="border: 5px solid #eedb35; border-radius: 8px; padding: 20px;">
        <div class="card border-black" style="width: span;">
          <div class="card-body">
            <h3 class="card-title">Sell Transactions</h3>
            <p class="card-text">Maximum selloff of stock portfolio is limited to $5,000. Once this amount is reached,
              no other transactions will be processed.  Amounts above the $5,000 limit will appear in "red".</p>

            <table class="table">
              <thead>
                <tr>
                  <th scope="col-3">Stock/Qty/Price</th>
                  <th scope="col-6">Total Transaction</th>
                </tr>
              </thead>
              <tbody>
                {% for value in chosen_items %}

                <tr>
                  <td>{{ value }}</td>
                  <td class="total">{{ value|slice_from_dollar }}</td>
                </tr>

                {% endfor %}
              </tbody>
            </table>
            <br>
            <strong>
              <div id="sell-running-total">RUNNING TOTAL: $0.00</div>
            </strong>
            <br>
            <button type="reset" id="reset-button">Reset</button>

          </div>
        </div>
      </div>
    </div>
  </div>


<script>

  function calculateRunningTotal() {
    let totalSum = 0;
    const maxTotal = 5000;
    let alertShown = false;


    const totals = document.querySelectorAll('.total');

    totals.forEach(total => {
      const value = parseFloat(total.textContent.replace('$', '').replace(',', ''));
      if (!isNaN(value)) {
        if (totalSum + value <= maxTotal) {
          totalSum += value;

          total.style.color = '';  // Reset to default color if under limit*************

        } else {

          total.style.color = 'red';  // Change color to red if over limit*************

          totalSum = maxTotal;
        }
      }
    });

    document.getElementById('sell-running-total').textContent = `RUNNING TOTAL: $${totalSum.toFixed(2)}`;

    if (totalSum >= maxTotal && !alertShown) {
      alert("Maximum selling total reached. No additional transactions will be processed.");
      alertShown = true;
    }

  }

  window.addEventListener('DOMContentLoaded', (event) => {
    calculateRunningTotal();
  });

  document.getElementById('reset-button').addEventListener('click', function () {
    const tbody = document.querySelector('tbody');

    tbody.innerHTML = '';

    document.getElementById('sell-running-total').textContent = 'RUNNING TOTAL: ';

    document.querySelectorAll(".total").forEach(function (total) {
      total.textContent = "$0.00";
      total.style.color = '';  // Reset color on reset**************
    });

    rowsAdded.clear();
  });

</script>


{% endblock %}

