{% extends 'base.html' %}
{% load static %}

{% block title %}Stock Data{% endblock %}


{% block content %}

<div class="d-flex justify-content-between align-items-center">
  <h1 class="mb-0">Stock Data</h1>
  <a href="{% url 'home' %}" class="btn btn-success border-black">Go home</a>
</div>


<hr style="height: 5px; background-color: black; border: none;">

<h5>Click on button to view current day's stock data.</h5>

</br>

<div class="container">
  <div class="row">
    <div class="row text-center">
      <div class="col-6 mb-3 mb-sm-3">
        <div class="card border-black" style="width: 35rem;">
          <div class="card-body">
            <h5 class="card-title">General Electric</h5>
            <p class="card-text">Click on button for today's data.</p>
            <a href="{% url 'stock_data_ge' %}" class="btn btn-danger border-black">Get Data</a>
          </div>
        </div>
      </div>

      <div class="col-6 mb-sm-8">
        <div class="card border-black" style="width: 35rem;">
          <div class="card-body">
            <h5 class="card-title">Amazon</h5>
            <p class="card-text">Click on button for today's data.</p>
            <a href="{% url 'stock_data_amazon' %}" class="btn btn-danger border-black">Get Data</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="row text-center">
      <div class="col-6 mb-3 mb-sm-3">
        <div class="card border-black" style="width: 35rem;">
          <div class="card-body">
            <h5 class="card-title">Google</h5>
            <p class="card-text">Click on button for today's data.</p>
            <a href="{% url 'stock_data_google' %}" class="btn btn-danger border-black">Get Data</a>
          </div>
        </div>
      </div>


      <div class="col-6 mb-sm-8">
        <div class="card border-black" style="width: 35rem;">
          <div class="card-body">
            <h5 class="card-title">Microsoft</h5>
            <p class="card-text">Click on button for today's data.</p>
            <a href="{% url 'stock_data_microsoft' %}" class="btn btn-danger border-black">Get Data</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>



</br>
</br>
</br>
</br>
</br>

{% endblock %}




