{% extends 'base.html' %}
{% load static %}



{% block title %}General Electric{% endblock %}


{% block content %}
<h1>General Electric - Stock Data</h1>
<hr>
<div class="d-flex justify-content-end gap-2">
  <a href="{% url 'home' %}" class="btn btn-success border-black">Go home</a>
  <a href="{% url 'stock_data' %}" class="btn btn-success border-black">Go back</a>
  </div>

  <h1>1-Day Chart</h1>

  <img src="{% static 'images/ge/GE - daily.jpg' %}" alt="">



</br>
</br>
</br>
</br>
</br>
</br>



{% endblock %}

