{% extends 'base.html' %}
{% load static %}

{% block title %}Stock Data{% endblock %}


{% block content %}

<h1>Stock Data</h1>

<div class="tradingview-widget-container">
  <!-- <div class="d-flex justify-content-center"> -->
              
    <div class="d-flex align-items-center justify-content-end">

  <div class="col-9 border border-black">

  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright">
  <a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank">
    <span class="blue-text">Track all markets on TradingView</span></a>
  </div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
  {
  "symbols": [
    {
      "description": "S&P500",
      "proName": "SP:SPX"
    },
    {
      "description": "Nasdaq",
      "proName": "NASDAQ:NDX"
    },

    {
      "description": "NYSE",
      "proName": "USI:TICK"
    },
    {
      "description": "DAX",
      "proName": "XETR:DAX"
    },
    {
      "description": "CAC",
      "proName": "TVC:CAC40"
    },
    {
      "description": "FTSE",
      "proName": "SPREADEX:FTSE"
    }
  ],
  "showSymbolLogo": true,
  "isTransparent": false,
  "displayMode": "adaptive",
  "colorTheme": "light",
  "locale": "en"
}
  </script>
</div>
</div>
</div>

<hr>

<div class="d-flex justify-content-end">
<a href="{% url 'home' %}" class="btn btn-success border-black">Go home</a>
</div>

<h5>Click on button to view current stock data.</h5>
</br>


<div class="container">
    <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 mb-3 mb-sm-5">  
        <div class="card text-center border-black" style="width: span; height: 15rem;">
          <h3 class="card-title mt-3">Current Portfolio</h3>
        </br>
          <p class="card-text">View current stock data for positions in your portfolio.</p>
        </br>
          <div class="card-body mb-3 mt-3" style="display: grid; grid-template-columns: repeat(4, 1fr); gap: 35px; text-align: center">
            <!-- <h5 class="card-title">Current Portfolio</h5>
          </br>
            <p class="card-text">View current stock data for positions in your portfolio.</p> -->


            <a href= "{% url 'stock_data_amazon' %}" button type="submit" class="btn btn-success btn-lg border-black">Amazon</button></a>
            <a href= "{% url 'stock_data_ge' %}" button type="submit" class="btn btn-success btn-lg border-black">General Electric</button></a>
            <a href= "{% url 'stock_data_google' %}" button type="submit" class="btn btn-success btn-lg border-black">Google</button></a>
            <a href= "{% url 'stock_data_microsoft' %}" button type="submit" class="btn btn-success btn-lg border-black">Microsoft</button> </a>           

          </div>

    
          </div>
        </div>
      </div>
    </div>
</div>
    


</br>
</br>

{% endblock %}










