{% extends 'base.html' %}
{% load static %}

{% block title %}Test{% endblock %}


{% block content %}

<h1>Test Portfolio Page</h1>
</br>
</br>





<div class="container">
  <div class="container-fluid">

      <div class="row">
        <div class="col-sm-12 mb-3 mb-sm-5">  
          <div class="card" style="width: span;">
            <div class="card-body">
            <h3 class="card-title">Buy/Sell Transactions</h3>
            <p class="card-text">View details regarding the current positions in your stock portfolio.</p>
            <a href= "{% url 'item_portfolio' %}" class="btn btn-success">Go To Current Portfolio</a>
    
          </div>
        </div>
      </div>
  </div>
</div>


</br>


<form method="post" action="{% url 'home' %}">


{% endblock %}


